<div class='children-menu'>
	<ul>
		<% @current_level_pages.map do |p| %>
			<li<%= " class =\"current\"".hs if p.id == @page.id %>><%= link_to "<span>#{p.title}</span>".hs, page_link_destination(p), :remote => @remote %></li>
		<% end %>
	</ul>
</div>